rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /healthUsers/default/entries/{entryId} {
      allow read, write: if request.auth != null;
    }
  }
}
